{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-12">
        <div class="panel panel-default mt-3">
            <div class="panel-heading">
                <h4 class="panel-title">Add New Contact</h4>
            </div>
            <div class="panel-body">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
