{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-12">
        <div class="panel panel-default mt-3">
            <div class="panel-heading">
                <h4 class="panel-title">Contact Overview</h4>
            </div>
            <div class="panel-body">
                 <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First name</th>
                            <th scope="col">Last name</th>
                            <th scope="col">Street and address</th>
                            <th scope="col">Zip</th>
                            <th scope="col">City</th>
                            <th scope="col">Country</th>
                            <th scope="col">Phonenumber</th>
                            <th scope="col">Birthday</th>
                            <th scope="col">Email address</th>
                            <th scope="col">Picture</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for contact in contacts %}
                            <tr>
                                <th scope="row">{{ contact.id }}</th>
                                <td>{{ contact.firstName }}</td>
                                <td>{{ contact.lastName }}</td>
                                <td>{{ contact.streetAndNumber }}</td>
                                <td>{{ contact.zip }}</td>
                                <td>{{ contact.city }}</td>
                                <td>{{ contact.country }}</td>
                                <td>{{ contact.phoneNumber }}</td>
                                <td>{{ contact.birthday|date("D/m/Y") }}</td>
                                <td>{{ contact.emailAddress }}</td>
                                <td>{{ contact.picture is not empty  ? "yes" : "no" }}</td>
                                <td>
                                    <a href="{{ path('app_contact_delete' , { contact : contact.id }) }}">
                                        <button type="button" class="btn btn-danger">Delete</button>
                                    </a>
                                    <a href="{{ path('app_add_new_address' , { contact : contact.id }) }}">
                                        <button type="button" class="btn btn-primary">Edit</button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
